


.headerwrapper .logo
{
  width: auto;
  float: left;
  position: relative;
  top:-27px;
  padding-left: 152px;
}

.headerwrapper .nav-bar ul
{
  list-style-type: none;
  width: auto;
  float: right;
  position: relative;
  top:-20px;

}

.imgwrapper
{
  padding-left: 140px;
  padding-top: 112px;

}

.imgwrapper .info
{
  width: 45%;
  float: left;
}

.imgwrapper .sign-up
{
  width: 28%;
  float: left;
  position: relative;
  left: 150px;
}


.imgwrapper .logo-img
{
  display: block;
  padding-bottom: 34px;
}

.imgwrapper .heading
{
  padding-bottom: 30px;
}

.imgwrapper .dash-img
{
  padding-bottom: 18px;
}

.imgwrapper .para
{
  padding-bottom: 48px;

}

.imgwrapper a
{
  display: block;
  width: 75px;
  border: 2px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 60px;

}



/* .header
{
  background: url('../images/image.png');
} */

.imgwrapper
{
  background: url('../images/background.png');
  background-color: black;
}

.headerwrapper
{
  background-color: black;
  padding-top: 60px;

}


.headerwrapper .nav-bar ul li
{
  display: inline;
  padding-right: 47px;

}

.headerwrapper .nav-bar ul li a
{
  color: white;
  font-size: 14px;
  font-family: 'Open Sans', serif ;
  font-weight: 600; /*semi-bold*/
  text-decoration: none;

}

.headerwrapper .nav-bar ul li:last-child
{
  padding-right: 145px;
}

.imgwrapper
{
  color: white;
  font-family: 'Raleway', sans-serif;
  padding-left: 205px;
}

.imgwrapper h2
{
  text-transform:uppercase;
  font-size: 36px;
  

}


.headerwrapper .logo{
	padding-left: 205px;
	
}
.imgwrapper a
{
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 600; /*semi-bold*/

}

.imgwrapper a:hover
{
  background: black;
}

.sign-up
{
  background-color: white;

}


.sign-up .heading
{
  font-size:20px;
  font-family: 'Open Sans', serif ;
  font-weight: bold;
  color: rgba(51,51,51,255);
  text-transform: capitalize;
  padding-left: 45px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f2f2f2;



}

.sign-up .heading .yellow
{
  color: rgba(255,139,56,255);
  text-transform: uppercase;
}

.sign-up input[type='text'],
.sign-up input[type='password'],
.sign-up input[type='email']
{
  
  font-family:  'Open Sans', serif;
  font-size: 14px;
  border-top-style: hidden;
  border-right-style: hidden;
  display: block;
  width: inherit;
  padding-left: 54px;
  padding-top: 50px;
  outline: none;
  border-left-style: hidden;
  border-bottom-style: hidden;
  width: 65%;

}

.sign-up input[type='submit']
{
  
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  
  background-color: #e67300;
  margin-top: 60px;
  font-family:  'Open Sans', serif;
  font-size: 15px;
  color: white;
  font-weight: 600;
  opacity: 0.9;
  display: block;
  border-left-style: hidden;
  border-right-style: hidden;
  border-top-style: hidden;
  border-bottom-style: hidden;

}

.sign-up input[type='submit']:hover
{
  background-color: black;
  cursor: pointer;
}

.sign-up input[type='submit']:focus
{
  outline:none;
}

.sign-up input[type='submit']:active
{
    background-color: #e67300;
}
	

.social-wrapper{
	background-color: white;
	height: 200px;
}

.fixsocial-wrapper .socialtext{
	
	
	width: 15%;

	float: left;

	padding-left: 205px;

	

}
.fixsocial-wrapper .socialtext h1{
	margin-top: 24px;
	margin-bottom: 24px;
	font-family: 'Open Sans bold', sans-serif;
	font-display: smooth;
	line-height: 14px;
}
.fixsocial-wrapper .socialtext p{
	
	font-family: 'Open Sans', sans-serif;
	

}
.socialimage ul{
	width: 75%;
	float: right;
	position: relative;
	top:-150px;
	left:50px;
}

.socialimage ul li{
	list-style-type: none;
	display: inline;
	padding:30px;
}

/* tabs */
.tabwrapper
{
  padding-left: 205px;
  padding-top: 60px;
  padding-bottom: 100px;
}
.tabwrapper .tabs
{
   width:12%;
   
   float: left;
}
.tabwrapper .text
{
   width: 45%;
   float: left;
  
}
.tabwrapper .image
{
   width: 25%;
   float: left;
   position: relative;
   left: 50px;
}
.tabwrapper .text a
{
  display: block;
  width: 60px;
  border: 2px solid #E67300;;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 30px;
}
.tabwrapper
{
    background-color: #F2F2F2;
}
.tabwrapper .text a
{
   text-decoration: none;
   color: white;
   background-color: #E67300;
}
.tabwrapper .text a:hover
{
  background-color: #F2F2F2;
  color:#e67300;
}
.tabwrapper .text h1
{
   color: rgba(0,0,0,255);
   font-size: 20px;
   font-family: 'Open Sans', serif;
   font-weight: bold;
   padding-bottom: 35px;
}
.tabwrapper .para p
{
  padding-bottom: 20px;
  color: rgba(134,135,139,255);
  font-family: 'Open Sans', serif;
  font-size: 14px;
  text-align: justify;
  padding-right: 30px;
}
.tabwrapper .para p:last-child
{
  padding-bottom: 50px;
}
.tabwrapper .text a
{
   border-radius: 3px;
   color: rgba(255,255,255,255);
   font-family: 'Open Sans', serif;
   font-size: 15px;
   font-weight: 600;
}
.tabwrapper  .tabs a:first-child
{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.tabwrapper  .tabs a:last-child
{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.tabwrapper  .tabs  a
{
  display: block;
  border:1px solid black;
  height: 125px;
  width: 115px;
  background-color: black;
  border-bottom-color: white;
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 120px;
  color: rgba(255,255,255,255);
  font-size: 15px;
  font-family: 'Open Sans', serif;
  font-weight: 600;
  text-transform: uppercase;
}
.tabwrapper  .tabs  a:hover
{
    background-color: rgba(255,139,56,255);
    border-color: rgba(255,139,56,255);
    border-bottom-color: white;
}


/* sublistsection */
.sublistsection .sublistimage{
	width:50%;
}
.sublistsection .sublistimage .image{
	padding-left: 205px;
	height: 340px;
	padding-top: 125px;
	width: 455px;

	float: left;
	
}
.sublisttext ul li{
	text-decoration: none;
	list-style: none;
}
.sublisttext2 .icon1{
	height: 40px;
	width: 40px;
	
}
.sublisttext2 .icon2{
	height: 40px;
	width: 40px;
	
}
	
.icon{
	height: 30px;
	width: 30px;
}
.sublisttext2 h2{
	padding-left: 60px;
}
.sublisttext2 p{
	padding-left: 60px;
}




.sublistsection .sublisttext{
	width:30%;
	float: right;
	padding-top: 110px;
	padding-right: 180px;
	

	
}
.sublisttext h1{
	padding-bottom:20px;
}
.sublisttext img{
	background-color:orangered;
	height: 2px;
	width: 50px;
	
	
}
.sublisttext p{
	font-family:OpenSa;
	color: rgba(134,135,139,25);
	font-size: 14px;
	padding-top: 20px;
	

}
.standard{
	background-color:#f5f5f5;
}

.standardtext{
	width:30%;
	float: left;
}
.standard .line{
	background-color:orangered;
	height: 2px;
	width: 50px;

}
.para .para1{
	padding-bottom: 20px;

}
.standard .standardimage{
	
	float: right;

}
.standardtext{
	padding-left: 205px;
	padding-top: 100px;
	width: 30%;
}
.standardimage{
	width:40%;
	float: right;
	padding-top: 110px;
	padding-right: 50px;
}
.standardtext h1{
	padding-bottom: 25px;
}

/* Awesome */
.awesomewrapper{
	background-color: white;
	height: 615px;
}

.awesomebottom .col-1{
	width: 15%;
	float: left;
	padding-left: 205px;
	padding-right: 50px;

}
.awesometop{
	text-align: center;
	padding-top: 100px;
}

.awesometop .lineimg{
	background-color:orangered;
	height: 2px;
	width: 50px;
	margin-bottom: 27px;
}
.awesometop h1{
	margin-bottom: 27px ;
}
.awesometop p{
	margin-bottom: 27px;
}


/* Pricing css */
.pricing
{
    background-color: #F2F2F2;
    padding-top: 110px;
    padding-bottom: 100px;
}
.pricingdown
{
   padding-top: 100px;
   padding-left: 100px;
}
.pricingdownblock a
{
  text-decoration: none;
}
.pricingdownblock a .type
{
  margin-bottom: 1px;
}
.pricingdownblock a .type,
.pricingdownblock a .price,
.pricingdownblock a .scheme
{
  display: block;
  background-color: #333333;
  width:320px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color:white;
}
.pricingdownblock a .price,
.pricingdownblock a .scheme
{
  height: 20px;
  line-height: 20px;
}
.pricingdownblock a .speciality
{
  display: block;
  color:white;
  background-color: rgba(255,139,56,255);
  width:320px;
  height: 5px;
  line-height: 25px;
  text-align: center;
}
.pricingdownblock
{
  width:27%;
  padding: 30px;
  float: left;
}
.pricingdownblock a ul
{
  list-style-type: none;
  width:320px;
}
.pricingdownblock a ul li
{
  color: rgba(134,135,139,255);
  font-size: 14px;
  font-family: 'Open Sans', serif;
  text-align: center;
  height: 20px;
  background-color: white;
  margin-bottom: 1px;
  padding-top: 9px;
  padding-bottom: 9px;
  text-transform: uppercase;
}
.pricingdownblock a .speciality
{
  color:rgba(255,255,255,255);
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Open Sans', serif;
  font-weight: bold;
}
.pricingdownblock a .scheme
{
  font-size: 14px;
  font-style: italic;
  font-family: 'Open Sans', serif;
  font-weight: 600;
  color: #ADADAD;
  padding-top: 10px;
  padding-bottom: 15px;
}
.pricingdownblock a .price
{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color:rgba(255,255,255,255);
  font-size: 94px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.pricingdownblock a .price .sign
{
  font-size: 35px;
}
.pricingdownblock a .type
{
  color: rgba(255,255,255,255);
  font-family: 'Open Sans', serif;
  font-weight: bold;
  font-size: 20px;
}
.pricingdownblock a:hover
{
   position: relative;
   top:-40px;
}
.pricingdownblock a:hover .speciality
{
   height: 25px;
   padding-top: 10px;
   padding-bottom: 10px;
}
.pricingup{
	text-align: center;
}


	.pricingup .lineprice{
		background-color:orangered;
		height: 2px;
		width: 50px;
	}
	
	
